.container {
    display: flex;
    flex-direction: column;
}

.button {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
    width: 220px;
    height: 100px;
    border-radius: 20px;
    background: #f00;
    color: #fff;
    font-size: 26px;
}